* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.background-img {
  background-image: url("./img1/bg3.jpg");
  background-position: center center;
  background-size: 100% 99%;
  background-repeat: no-repeat;
  padding: 21%;
  background-attachment: fixed;
}
.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #ff584f;
  border-radius: 10px;
  outline: 15px solid #fff;
}
#about {
  padding-top: 5%;
  background-image: linear-gradient(to right, #fff, #ff584f);
  padding-bottom: 5%;
}
#services {
  padding-top: 5%;
  padding-bottom: 5%;
  border-top: 3px solid #fff;
  background-image: linear-gradient(to right, black, #d8b2b0);
}
.services-head {
  color: #ff584f;
}
#gallery {
  background-image: linear-gradient(to right, #fff, #ff584f);
  padding-top: 5%;
  padding-bottom: 5%;
  border-top: 3px solid #fff;
}
#contact {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
img:hover {
  opacity: 0.5;
  cursor: pointer;
}
footer {
  background-color: black;
}
.rights {
  font-size: 13px;
  padding-left: 30%;
}
.newsletter {
  background-image: linear-gradient(to right, #2795dc, #265fcd);
}
.connected-div {
  padding-left: 10%;
}
.connected-p {
  font-size: 13px;
  margin-left: 18%;
}
.img-dark {
  background-color: black;
}
i {
  color: #fff;
}
h2,
h1 {
  font-family: "Handlee", cursive;
}
/*--media--*/
@media only screen and (max-width: 768px) {
  #contact {
    display: none;
  }
  .heading {
    font-size: 20px;
  }
  .background-img {
    padding-top: 30%;
  }
}
